/* helpers-nick */

body {
  width: 100%;
  height: 100%;
}

.h1 {
	font-size: $h1-font-size;
}
.h2 {
	font-size: $h2-font-size;
}
.h3 {
	font-size: $h3-font-size;
}
.h4 {
	font-size: $h4-font-size;
}
.h5 {
	font-size: $h5-font-size;
}
.h6 {
	font-size: $h6-font-size;
}

a {
	color: $blue;
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-ms-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
	&:hover {
		color: $lightblue;
	}
}
$myriad: "Myriad Pro", arial, helvetica, sans-serif;
$lato: "Lato", Helvetica, Roboto, Arial, sans-serif;

.center {
	text-align: center;
	img {
		display: inline-block;
	}
}

.pad-small {
	padding-top: 20px;
	padding-bottom: 20px;
	@media #{$medium-up} {
		padding-top: 40px;
		padding-bottom: 50px;
	}

}
.pad-normal {
	padding-top: 20px;
	padding-bottom: 20px;
	@media #{$medium-up} {
		padding-top: 75px;
		padding-bottom: 85px;
	}
}
.pad-large {
	padding-top: 20px;
	padding-bottom: 20px;
	@media #{$medium-up} {
		padding-top: 120px;
		padding-bottom: 130px;
	}
}

.wide-link {
	letter-spacing: 1px;
	text-transform: uppercase;
}
.uppercase {
	text-transform: uppercase;
}

.bg-beige {
	background: $beige;
}
.bg-headergrey {
	background: $headergrey;
}

.image-container {
	padding-bottom: 20px;
	@media #{$medium-up} {
		padding-bottom: 0;
	}
}


.btn {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	text-transform: uppercase;
	padding: 12px;
	color: $white;
	background: $orange;
	cursor: pointer;
	border: none;
	border-image: initial;
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-ms-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
	&:hover {
		text-decoration: none;
	}
	&.gold {
		background: $gold;

	}
	&.orange {
		background: $orange;
		color: $white;
		border: 2px solid $orange;
		&:hover {
			background: $darkorange;
			border: 2px solid $darkorange;
			color: $white;
			text-decoration: none;
		}
		&.ghost {
			color: $orange;
			background: $white;
			padding: 12px;
			&:hover {
				border: 2px solid $orange;
				background: $orange;
				color: $white;
			}
		}
	}

	&.magic-icon-button {
		position: relative;
		&.arrow {
			padding: 15px 100px 15px 50px;
			max-height: 46px;
			&:after {
				position: absolute;
				z-index: 10;
				content: '';
				width: 50px;
				height: 46px;
				right: 0;
				top: 0;
				background: $darkgold url('../img/right-arrow.png') center center no-repeat;
			}
			&:hover {
				background: $darkgold;
			}
		}
	}
}
