.cta-container {
	p {
		color: $white;
		font-weight: normal;
		line-height: 1.25;
		margin-bottom: 0;
	}


	&.bofu {
		background: url('../img/gas-station-at-night-bofu-small.jpg') top center no-repeat;
		background-size: cover;
		@media #{$medium-up} {
			background: url('../img/gas-station-at-night-bofu.jpg') top center no-repeat;
			background-size: cover;
		}
	}
}
