footer {
	background: $footertop;
	.footer-main {
		color: $white;
		nav {
			color: $white;
			ul {
				list-style: none;
				margin: 0;
				&.two-col-menu {
					@media #{$medium-up} {
						-webkit-column-count: 2;
						-moz-column-count: 2;
						column-count: 2;
						-webkit-column-gap: 100px;
						-moz-column-gap: 100px;
						column-gap: 100px;
					}
				}

				li {
					a {
						color: $white;
						text-decoration: none;

					}
				}
				&.social-icons {

					li {
						display: inline-block;
						margin-right: 20px;
						@media #{$medium-up} {
							margin-right: 0;
						}
					}
				}
			}
			&.footer-contact {
				margin-top: 20px;
				@media #{$medium-up} {
					margin: 0;
				}
			}
		}
		form {
			margin-top: 20px;
			label {
				color: $white;
			}
		}
	}
	.footer-secondary {
		background: $footerbottom;
		padding: 25px 0 20px;
		p {
			color: $white;
			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}
