form {
	&.no-label {
		label {
			color: $white;
			margin-bottom: 10px;
			@media #{$medium-up} {
				display: none;
			}
		}
	}

	.action {
		padding-top: 10px;
		input {
			&.magic-icon-button {
				margin: 0;
				padding: 0;
				position: relative;
				display: inline-block;
				font-size: 1rem;
				line-height: 1;
				text-transform: uppercase;
				background: inherit;
				color: inherit;
				cursor: pointer;
				border: none;
				border-image: initial;
			}
		}
	}
	&#footer-blog-subsribe {
		label {
			margin-bottom: 10px;
		}
		.inline-container  {
			@media #{$medium-up} {
				max-height: 37px;
				overflow: hidden;
			}

		}
		input {
			display: block;
			height: 37px;
			padding-top: 0;
			padding-bottom: 0;
			font-size: 16px;
			&.btn {
				width: 100%;
				height: 38px;
			}
			@media #{$medium-up} {
				display: inline-block;
				width: 55%;
				&.btn {
					padding-top: 10px!important;
					padding-bottom: 10px!important;
					width: 44%;
					border: none;
					margin: 0 0 0 -10px;
				}
			}


		}
	}
}
