header {
	&.top-bar {
		.row {
			max-width: rem-calc(1140);
		}
		.logo {
			margin: 12px 0;
		}
		nav {
			@media (max-width: 800px) {
				width: 50%;
			}
			ul {
				text-align: right;
				margin-left: 0;

				li {
					margin: 30px 0;
					padding: 0 5px;
					line-height: 1;
					display: inline-block;
					@media #{$medium-up} {
						padding: 0 10px;
					}
					@media #{$large-up} {
						margin: 35px 0;
						padding: 0 20px;

					}
					&.border-right {
						border-right: 1px solid $menugrey;
					}
					a {
						color: $menugrey;
						text-decoration: none;
						font-size: rem-calc(14);
						text-transform: uppercase;
						font-weight: bold;
						line-height: 1;
						-webkit-transition: all .25s ease-in;
						-moz-transition: all .25s ease-in;
						-ms-transition: all .25s ease-in;
						-o-transition: all .25s ease-in;
						transition: all .25s ease-in;
						&:hover {
							color: $orange;
							text-decoration: underline;
						}
					}
					&.menu-cta-container {
						margin: 15px 0;
					}
					&:last-child {
						padding-left: 0;
					}
				}
			}
		}
	}
}
