.hero {
	background: url('../img/commercial-fueling-made-easy-small.jpg') top center no-repeat;
	background-size: cover;
	@media #{$medium-up} {
		background: url('../img/commercial-fueling-made-easy.jpg') top center no-repeat;
		background-size: cover;
	}
	.hero-content {
		position: relative;
		color: $white;
		text-align: center;
		h1,
		h2 {
			color: inherit;
		}
		h1 {
			max-width: 775px;
			font-weight: 700;
			margin: 30px auto 0;
			@media #{$medium-up} {
				margin: 135px auto 0;
			}

		}
		h2 {
			max-width: 895px;
			font-family: $myriad;
			font-size: rem-calc(20);
			font-weight: 500;
			margin: 10px auto 30px;
			@media #{$medium-up} {
				margin: 30px auto 200px;
			}
		}
		.hero-trust {
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 10;
			@media #{$medium-up} {
				left: 50%;
				width: rem-calc(600);
				bottom: -50px;
			}
			@media #{$large-up} {
				width: rem-calc(715);
			}

			> ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				padding: 0;
				text-align: left;
				background: $white;
				-webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.25);
				box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.25);
				@media #{$medium-up} {
					left: -50%;

				}

				li {
					line-height: 1;
					display: inline-block;
					padding: 25px 12px;
					width: 49%;
					text-align: center;
					@media #{$medium-up} {
						max-width: 235px;
					}
					@media #{$large-up} {
						padding: 25px;
						max-width: 280px;
					}

					position: relative;
					&:first-of-type {
						display: block;
						width: 100%;
						background: $blue;
						text-transform: uppercase;
						text-align: center;
						@media #{$medium-up} {
							width: auto;
							text-align: left;
							display: inline-block;
							padding: 40px 12px 45px;
						}
						@media #{$large-up} {
							padding: 40px 25px 45px;
						}

						&:after {
							content: '';
							position: absolute;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 12px 12px 0 12px;
							border-color: $blue transparent transparent transparent;
							top: 100%;
							left: 50%;
							margin-left: -12px;

							@media #{$medium-up} {
								border-width: 12px 0 12px 12px;
								border-color: transparent transparent transparent $blue;
								right: -12px;
								top: 50%;
								margin-top: -15px;
								left: auto;

							}
						}
					}
					&:last-of-type {
						&:before {
							content: '';
							position: absolute;
							width: 1px;
							height: 30px;
							background: $lightgrey;
							left: 0;
							top: 50%;
							margin-top: -15px;

						}
					}
				}
			}
		}
	}
}
