header {
	&.top-bar {
		nav {
			ul {
				li {
					display: none;
					@media (min-width: 800px) {
						display: inline-block;
					}
					&.mobile-trigger {
						display: inline-block;
						margin: 12px 0 12px 0;
						padding: 0;
						width: 150px;
						> .toggle-button {
							width: 100%;
							height: 50px;
						}
						@media (min-width: 800px) {
							display: none;
						}
					}
				}
			}

		}

	}

}

#mobile-menu {
	&.slideout-menu {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  z-index: 0;
	  width: 256px;
	  overflow-y: scroll;
	  -webkit-overflow-scrolling: touch;
	  display: none;
	  ul {
		  list-style: none;
		  margin: 0;
		  padding: 0;
		  li {
			  padding: 10px 12px;
			  border-bottom: 1px solid $blue;
			  a {
				  color: $orange;
				  text-decoration: none;
				  font-size: rem-calc(18);
				  &.orange {
					  color: $white;
				  }
			  }
			  &.mobile-trigger {
				  display: none;
			  }
			  &:last-of-type {
				  border: none;
				  text-align: center;
			  }
		  }
	  }
	}
}
main {
	overflow: hidden;
	&.slideout-panel {
		position: relative;
		z-index: 1;
		will-change: transform;
	}
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open {
	#mobile-menu {
		&.slideout-menu {
		  display: block;
		}
	}
}
