.remarkables {
	padding: 200px 0 30px;
	@media #{$medium-up} {
		padding: 125px 0 80px;
	}
	.remarkable-header {
		text-align: center;
	}
	.remarkable-content {
		padding: 10px 0;
		> * {
			// display: inline-block;
		}
		img {
			vertical-align: top;
		}
		p {
			margin: 15px 0 0 0;
		}
		@media #{$medium-up} {
			padding: 40px 0 20px;
			img {
				max-width: 100%;
				display: inline-block;
			}
			p {
				text-align: center;
			}
		}
	}
}
