.testimonial {

	blockquote {

		font-size: rem-calc(20);
		line-height: 1.2;
		@media #{$medium-up} {
			margin-top: 30px;
			text-align: center;
		}
		cite {
			font-size: 1rem;
			margin-top: 10px;
			font-style: normal;
			img {
				margin-right: 10px;
			}
			&:before {
				display: none;
			}
		}
	}
}
